/* Empty. Add your own CSS if you like */

.background-purple {
  background-color: #20518F;
}

.card-container {
  position:absolute;
  width: 310px;
}

.card-example {
  position: relative;
  width: 100px;
  height: 100px;
  z-index: 1;
  box-shadow: 2px 2px 15px rgba(0,0,0,0.3);
  display: inline-block;
}

.card-example img, .card-example2 img, .card-example3 img {
  width: 100% !important;
  height: 100% !important;
  display: block;
}

/* Components */
.col.col-center{
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row /* works with row or column */
   flex-direction: row;
   -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center;
}
